/* CSS Document */

/* Define Font Face */ 
@font-face {
	font-family: HelveticaNeue;
	src: local("Helvetica Neue"), 
         local("HelveticaNeue"),
		 url('font/HelveticaNeueThn.otf')  format("opentype");
}

@font-face {
	font-family: Delicious;
	src: url('Delicious-Roman.otf');
}

@font-face {
	font-family: Delicious;
	font-weight: bold;
	src: url('Delicious-Bold.otf');
}

.brand-color {color:#cb0000;}
	

/*.padR10 {padding-right:10px;}
.padL10 {padding-left:10px;}*/
	


.required, .orangeLetter {
	color:#fd7200;
}

/* Alignment */
.cl{clear:both; height:0;}
.clL{clear:left; height:0;}
.fl{float:left}
.fr{float:right}	

/* Visibility */
.visible{display:block}
.hidden{display:none}


	
.actPg {height:18px; width:14px; line-height:18px; vertical-align:middle; text-align:center;
		background-color:#B9696C; color:#fff; padding:2px;
		opacity: .7; 
		/* For IE 5-7 */
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
		/* For IE 8 */
		-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; margin:0px 3px; 
		}
.inactPg {height:18px; width:14px; line-height:18px; vertical-align:middle; text-align:center; 
		  background-color:#fff; padding:1px; margin:0px 3px; 
		  border:1px dotted #B9696C;
		  }




form input.button-add-green {
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#fff;
	width:auto;
	height:38px;
	border:1px solid #017c04;
	cursor:pointer;
	margin:10px 0 20px 20px;
	padding:0px 30px;
	text-transform:capitalize;
	
	border-radius:5px;
	-o-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;

	
	background: #017c04;
	background: -moz-linear-gradient(top, #1abc07, #017c04);  
	background: -o-linear-gradient(top, #1abc07, #017c04);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1abc07), to(#017c04));
}

form input.button-add, input.button-add {
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#fff;
	width:auto;
	height:38px;
	border:1px solid #ff6405;/*2px solid #d1f8c7*/
	cursor:pointer;
	margin:10px 0 20px 20px;
	padding:0px 30px;
	text-transform:capitalize;
	
	border-radius:5px;
	-o-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	
	background: #ff6405;
	background: -moz-linear-gradient(top, #faaf01, #ff6405);  
	background: -o-linear-gradient(top, #fa8c01, #ff6405);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fa8c01), to(#ff6405));
	
}

form input.button-cancel, input.button-cancel {
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#fff;
	width:auto;
	height:38px;
	border:1px solid #b4b7b8;/*2px solid #d1f8c7*/
	cursor:pointer;
	margin:10px 0 20px 20px;
	padding:0px 30px;
	text-transform:capitalize;
	
	border-radius:5px;
	-o-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	
	background: #d5dadb;
	background: -moz-linear-gradient(top, #d5dadb, #b4b7b8);  
	background: -o-linear-gradient(top, #d5dadb, #b4b7b8);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d5dadb), to(#b4b7b8));
	
}

.dots{
	height:1px;
	width:190px;
	background:url(../../images/site/dots.png) repeat-x;
	}

/* Margins & Paddings */
.marR10 {margin-right:10px;}
.marL10 {margin-left:10px;}
.marL15 {margin-left:15px;}
.marL16 {margin-left:16px;}
.marL20 {margin-left:20px;}
.marL50 {margin-left:50px;}
.marL90 {margin-left:90px;}
.marT5 {margin-top:5px;}
.marT10 {margin-top:10px;}
.marT20 {margin-top:20px;}

.marB20 {padding:0 0 40px 0;}
.marB10 {padding:0 0 10px 0;}

.marTB10	{margin:10px 0px;}

/** Notification, Success and Error Messages **/
.error-block, .erBlockUsr, .erBlock, .error-block-small {
	height:auto; 
	padding:10px; 
	margin:10px 0px; 
 	border-left: 4px solid #FA880B;
 	background-color: #FAF2EB;
	color:#d90000;
	text-shadow:0px 1px 0px #fff;
}
	.error-block a, .erBlockUsr a, .erBlock a, .error-block-small a {
		color:#d90000;
		font-weight:bold;
		text-decoration:none;
	}
	
.success-block, .suBlockUsr, .suBlock, .success-block-small{
	height:auto; 
	
	padding:10px; 
	margin:10px 0px; 
 	border-left: 4px solid #3d9c4b;
 	background-color: #e4f4dd;
	text-shadow:0px 1px 0px #fff;
}
	


.info-block, .info-block-small {
	height:auto; 
	padding:10px; 
	margin:10px 0px;
	color:#0154a7; 
 	border-left: 4px solid #91c8fe;
 	background-color: #e1f1ff;
	text-shadow:0px 1px 0px #fff;
}
	
	.info-block a, .info-block-small a {
		font-weight:bold;
		color:#0154a7;
		text-decoration:underline;
	}

.error-block, .erBlockUsr, .erBlock, .success-block, .suBlockUsr, .suBlock, .info-block{
	width:98%;
}

.error-block-small, .success-block-small, .info-block-small{
	width:660px;
}
.fr1 {
	float:right;
	margin-top:3px;
	cursor:pointer;
}
	